__pycache__/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

web_app/app/best_ResNetLSTMNoBiClassifier20x224_lstm_checkpoint_epoch_step_23.pt
web_app/frontend/node_modules/